DATABASE_URL=postgresql://<username>:<yourpassword>@localhost:5433/<db_name>
SECRET_KEY=your-jwt-secret
ENCRYPTION_KEY=your-64-char-hex-key 
REDIS_HOST=localhost                  
REDIS_PORT=6379                       
PORT=8080