DATABASE_URL=postgresql://<username>:<yourpassword>@localhost:5433/<db_name>
SECRET_KEY=your-jwt-secret
ENCRYPT_KEY=your-64-char-hex-key 
REDIS_HOST=localhost   #optional on dev               
REDIS_PORT=6379       #optional on dev
PORT=8080 